@{
	Layout = "_Layout";
}
<div style="background-color:aliceblue; padding:30px; border-radius:20px; ">
	<div class="Success">
		<a href="/Subscription/AllSubscription">Back to Table</a>
	</div>
	<h2 style="margin-top:30px">@ViewBag.Message</h2>
</div>